.van-tabbar-item__icon .van-icon{
  font-size: 24px;
}

.van-cell__left-icon{
  margin-right: 15px;
  font-size: 24px;
}

.van-cell-group{
  margin: 15px 0;
  .van-cell{
    padding: 13px 16px;
  }
}

.van-nav-bar__right{
  .van-icon{
    font-size: 20px;
    margin-left: 15px;
  }
}

.van-nav-bar__text{
  font-size: 15px;
}

.van-cell__title,.van-field__label{
  font-weight: bold;
}