@media (min-width: 768px){
  .img9-box{
    >div{
      &:nth-child(3n){
        margin-right: 7.5px!important;
      }
    }
  }
}

@media (max-width: 768px){
  .usercenter{
    .user-box{
      margin-top: -40px!important;
      > img{
        width: 80px!important;
        height: 80px!important;
      }
    }
  }
}